{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'main/public/loginForm.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <form class="form">
        <h1 class="form_title">Login</h1>
        <div class="form_group">
            <input type="text" class="form_input" placeholder=" ">
            <label class="form_label">Email</label>
        </div>


        <div class="form_group">
            <input type="password" class="form_input" placeholder=" ">
            <label class="form_label">Password</label>
        </div>
        <button class="form_button">Войти</button>

    </form>
</body>
</html>