/* Добавьте черный цвет фона в верхнюю панель навигации. */
.topNavPanel {
    overflow: hidden;
}

/* Стиль ссылок внутри панели навигации */
.topNavPanel a {
    float: right;
    color: #8B8C8C; /* Полупрозрачный чёрный текст */
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 25px;
}

/* Изменить цвет ссылок при наведении */
.topNavPanel a:hover {
    color: #FFFFFF;
    transition-duration: 0.35s;
}

/* Добавить цвет к активной/текущей ссылке */
.topNavPanel a.active {
    background-color: #4CAF50;
    color: white;
}