{% extends 'main/base.html' %}
{% block title %}
Signup
{% endblock %}

{% block content %}
<div class="div_Form">
    <form class="form">
        <h1 class="form_title">Signup</h1>

        <div class="form_group">
            <input type="text" class="form_input" placeholder=" ">
            <label class="form_label">Email</label>
        </div>


        <div class="form_group">
            <input type="text" class="form_input" placeholder=" ">
            <label class="form_label">Nickname</label>
        </div>


        <div class="form_group">
            <input type="text" class="form_input" placeholder=" ">
            <label class="form_label">Telephone number</label>
        </div>


        <div class="form_group">
            <input type="password" class="form_input" placeholder=" ">
            <label class="form_label">Password</label>
        </div>


        <button class="form_button">Войти</button>

    </form>
</div>
{% endblock %}
